<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title - CD Food</title>

    <script src="~/Scripts/time.js"></script>
    <link href="~/Content/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/admin.css" rel="stylesheet" />
    <link href="~/Content/trangchu.css" rel="stylesheet" />
    <style>
        .menuLeft {
            width: 20%;
            height: 595px;
            background-color: #f55b63;
            float:left;
        }
        .contentRight {
            width: 80%;
            height: 595px;
            background-color: #fff;
            float:right;
        }
    </style>
</head>

<body onload="display_date();">

        <!-------------------------------------------------LOGO và NGÀY--------------------------------------------------------->
        <div class="header">
            <div id="date" align="right"></div>			<!--Ngày, Đồng hồ góc trên bên phải - id ="date" để bên time.js getElementById("date")-->
            <div class="logo"><img src="../../images/logo/hotdog.gif" alt="food_logo_gif" width="100%" height="100px" /></div>
            <a href="../Administrator/admin.html" name="backtotop"><img src="../../images/logo/logo.jpg" alt="ChiDuyFood" name="Food_logo" width="30%" height="100px" id="Insert_logo" style="background-color: #8090AB; display:block;" /></a>
        </div>
        <br />

        <!------------------------------------------------------MENU------------------------------------------------------------>
        <hr color="#FF9900" />		<!-- dòng kẻ ngang -->
        <!--tạo bảng MENU-->
        <table align="center" border="0" class="fontchu">
            <tr>
                <td><br /></td>
            </tr>
            <tr align="center">
                <td width="200"><a href="/trang-chu" class="dngaz"><b>TRANG CHỦ</b></a></td>
                <td width="10"><b>|</b></td>
                <td width="200"><a href="/thuc-don" class="dngaz"><b>THỰC ĐƠN</b></a></td>
                <td width="10"><b>|</b></td>
                <td width="200"><a href="/dang-nhap" class="dngaz"><b>TÀI KHOẢN</b></a></td>
                <td width="10"><b>|</b></td>
                <td width="200"><a href="#lienhe" class="dngaz"><b>LIÊN HỆ</b></a></td>
            </tr>
        </table>

        <hr color="#FF9900" />    <!-- dòng kẻ ngang -->

        <div class="menuLeft">
            <table width="90%" align="right" border="0">
                <tr>
                    <td height="50px"><a href="/thong-tin-khach-hang" style="color:#f8fca2"><i class="fa fa-address-book-o" aria-hidden="true"> Thông tin cá nhân</i></a></td>
                </tr>
                <tr>
                    @{ var session = (LeSyDuy_ThietKeWeb.Common.UserLogin)Session[LeSyDuy_ThietKeWeb.Common.CommonConstants.SESSION];}
                    <td height="50px"><a href="/lich-su-mua-hang/@session.MaKH" style="color:#f8fca2"><i class="fa fa-history" aria-hidden="true"> Lịch sử mua hàng</i></a></td>
                </tr>
                <tr>
                    <td height="50px"><a href="/gop-y" style="color:#f8fca2"><i class="fa fa-commenting-o" aria-hidden="true"> Góp ý</i></a></td>
                </tr>
                <tr>
                    <td height="50px"><a href="/doi-mat-khau" style="color:#f8fca2"><i class="fa fa-key" aria-hidden="true"> Đổi mật khẩu</i></a></td>
                </tr>
                <tr>
                    <td height="50px"><a href="/logout-user" style="color:#f8fca2"><i class="fa fa-window-close-o" aria-hidden="true"> Đăng xuất</i></a></td>
                </tr>
            </table>
        </div>
        <div class="contentRight">
            <h1>@RenderSection("header", required: true)</h1>
            
            @RenderBody()
        </div>
        <!----------------------------------------------------------LIÊN HỆ-------------------------------------------------------------->
        <!--begin .footer-->
        <div class="footer">
            <div class="logo"><a name="lienhe"></a></div>
            <div class="contacts">
                <table width="600" border="0">
                    <tr align="center">
                        <td></td>
                        <td>
                            <a href="/gioi-thieu" class="fontchu"><font size="+2" color="#000000">Giới thiệu</font></a>
                        </td>
                        <td>
                            <p>|</p>
                        </td>
                        <td>
                            <a href="#" class="fontchu"><font size="+2" color="#000000">Tin Tức</font></a>
                        </td>
                    </tr>
                    <tr align="center">
                        <td>
                            <img src="@Url.Content("~/Images/icon/mail.png")" alt="mail_img" height="25px" width="25px" />
                        </td>
                        <td>
                            <a href="mailto:duy5399@gmail.com" class="fontchu"><font color="#A80000">duy5399@gmail.com</font></a>
                        </td>
                        <td>
                            <p>_</p>
                        </td>
                        <td>
                            <a href="mailto:phuongchiokita@gmail.com" class="fontchu"><font color="#A80000">phuongchiokita@gmail.com</font></a>
                        </td>
                    </tr>
                    <tr align="center">
                        <td>
                            <img src="@Url.Content("~/Images/icon/phone.png")" alt="phone_img" height="22px" width="22px" />
                        </td>
                        <td>
                            <a href="tel:0338486121" class="fontchu"><font color="#A80000">033-8486121</font></a>
                        </td>
                        <td>
                            <p>_</p>
                        </td>
                        <td>
                            <a href="tel:0343007508" class="fontchu"><font color="#A80000">034-3007508</font></a>
                        </td>
                    </tr>
                </table>
                <div class="backtotop">
                    <img src="@Url.Content("~/Images/icon/fb.png")" alt="facebook_img" width="60px" height="60px" usemap="#facebook_map" />
                    <map name="facebook_map">
                        <area shape="rect" coords="0,0,60,60" alt="facebook" href="https://www.facebook.com/vy.phuong.750331" />
                    </map>
                    <img src="@Url.Content("~/Images/icon/backtotop.png")" alt="backtotop_img" width="60px" height="60px" usemap="#backtotop_map" />
                    <map name="backtotop_map">
                        <area shape="rect" coords="0,0,60,60" alt="BackToTop" href="#backtotop" />
                    </map>
                </div>
            </div>
        </div>
        <!--end .footer-->

        <script src="~/Scripts/jquery.min.js"></script>
        <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
        <script src="~/Scripts/JavaScript.js"></script>
        
   
    <!-- end .container -->

</body>
</html>
