@model List<Model.ViewModel.DSGopYViewModel>
@using PagedList.Mvc
@{
    ViewBag.Title = "Danh sách ý kiến khách hàng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
}

@section header{
    Ý kiến khách hàng
}
<style>
    .mg-left {
        margin-left: 20px;
    }
</style>

<div class="row">

    <div class="col-lg-11">

        <div class="panel panel-default">

            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <td align="center"><b>Tên khách hàng</b></td>
                                <td align="center"><b>Số điện thoại</b></td>
                                <td align="center"><b>Email</b></td>
                                <td align="center"><b>Tiêu đề</b></td>
                                <td align="center"><b>Nội dung</b></td>
                                <td align="center"><b>Ngày góp ý</b></td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td align="center">@item.TenKH</td>
                                    <td align="center">@item.DienThoaiKH</td>
                                    <td align="center">@item.Email</td>
                                    <td align="center">@item.TieuDe</td>
                                    <td align="center">@item.NoiDung</td>
                                    <td align="center">@item.NgayGopY</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
</div>
<div>
